@font-face {
    font-family: papyrus;
    src: url('http://cdn.myld.com.au/1/fonts/Papyrus/papyrus.eot');
    src: url('http://cdn.myld.com.au/1/fonts/Papyrus/papyrus.eot?#iefix') format('embedded-opentype'),
    	 url('http://cdn.myld.com.au/1/fonts/Papyrus/papyrus.woff') format('woff'),
         url('http://cdn.myld.com.au/1/fonts/Papyrus/papyrus.ttf')  format('truetype'),
         url('http://cdn.myld.com.au/1/fonts/Papyrus/papyrus.svg#papyrus') format('svg');
}

body
{
	background-color: white;
	width: 650px;
	padding: 16px;
	line-height: 1.6;
	text-align: left;
	margin: auto;
	font-size: 18px;
}

.txt
{
	font-family: courier;	
}

button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}