body /* Mise en forme de la page */
{
	background-color: white;
	width: 650px;
	padding: 16px;
	line-height: 1.6;
	text-align: left;
	margin: auto;
	font-size: 18px;
}


button /* Centrage du bouton */
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}